<!DOCTYPE html>
<html lang="en">

    {% include 'head.html.j2' %}

    <body class="appear-animate">
        
        <!-- Page Loader -->        
        <div class="page-loader">
            <div class="loader">Loading...</div>
        </div>
        <!-- End Page Loader -->

        <!-- Skip to Content -->
        <a href="#main" class="btn skip-to-content">Skip to Content</a>
        <!-- End Skip to Content -->
        
        <!-- Page Wrap -->
        <div class="page" id="top">
            
            <!-- Navigation panel -->
            {% include 'navigation.html.j2' %}
            <!-- End Navigation panel -->
            
            <main id="main">
            
                <!-- Home Section -->
                <div class="home-section fullscreen-container" id="home">
                    <div class="fullscreenbanner bg-dark">
                        <ul>
                            
                            <!-- Slide Item -->
                            {% for slider in sliders %}
                                <li data-transition="fade" data-slotamount="7" data-delay="4000" data-title="Intro Slide">

                                    <img src="{{ slider.img }}" alt="">
                                    {% include 'slider-item-part1.html.j2' %}
                                    {{ slider.caption }}
                                    {% include 'slider-item-part2.html.j2' %}

                                    {% include 'slider-item-part3.html.j2' %}
                                    <!--  <a href="{% block slider-video-uri %}{% endblock %}" class="btn btn-mod btn-border-w btn-medium btn-round lightbox mfp-iframe">{% block play-caption %}{% endblock %}</a> -->
                                    {% include 'slider-item-part4.html.j2' %}
                                </li>
                            {% endfor %}

                            <!-- End Slide Item -->

                        </ul>
                        <div class="tp-bannertimer tp-bottom"></div> 
                    </div>
                </div>
                <!-- End Home Section -->


                <!-- Divider -->
                <hr class="mt-0 mb-0 "/>
                <!-- End Divider -->


                <!-- Services Section -->

                <!-- End Services Section -->


                <!-- Portfolio Section -->
                {% include 'portfolio-part1.html.j2' %}
                {% include 'portfolio-part2.html.j2' %}
                {% include 'portfolio-part3.html.j2' %}
                {% for project in projects %}
                    <li class="work-item mix photography">
                        {% load static %}
                        <a href="{% static 'images/blank.jpg' %}" id="{{ project.id }}"  onclick="testgal(this.id)" class="work-lightbox-link mfp-image">
                            <div class="work-img">
                                <img src="{{ project.image }}" alt="Work" />
                            </div>
                            <div class="work-intro">
                                <h3 class="work-title">{{ project.title }}</h3>
                                <div class="work-descr">
                                    {{ project.description }}
                                </div>
                            </div>
                        </a>
                        <div>
                          <ul id="{{ project.id }}_1" style="display: none;" >
                          {% for image_url in project.images %}
                            <li><img src="{{ image_url }}" style="display: none;" alt="work image"></li>
                          {% endfor %}
                          </ul>
                        </div>

                    </li>
                {% endfor %}
                {% include 'portfolio-part4.html.j2' %}

                <!-- End Portfolio Section -->



                <!-- About Section -->
                {% include 'about.html.j2' %}
                <!-- End About Section -->


                <!-- Contact Section -->
                {% include 'contact.html.j2' %}
                <!-- End Contact Section -->


            </main>


            <!-- Footer -->
            {% include 'footer.html.j2' %}
            <!-- End Footer -->


        </div>
        <!-- End Page Wrap -->


        <!-- JS -->
        {% include 'scripts.html.j2' %}


    </body>
</html>
