<section class="page-section pb-0" id="portfolio">
    <div class="relative">

        <h2 class="section-title font-alt mb-70 mb-sm-40">
            Client Projects
        </h2>

        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">

                    <div class="section-text align-center mb-70 mb-xs-40">
                        <p>Reflect Square has provided visualisations to Property Developers, Interior Designers and Architects from NSW, ACT, QLD and VIC.
                         Reflect Square take pride in delivering high quality visualisations for Townhouses, Centerlink building, Childcare centers and many other commercial and residential projects. </p>
                    </div>

                </div>
            </div>
        </div>
