<section class="page-section pb-0" id="portfolio">
    <div class="relative">

        <h2 class="section-title font-alt mb-70 mb-sm-40">
            {% block portfolio-title %}{% endblock %}
        </h2>

        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">

                    <div class="section-text align-center mb-70 mb-xs-40">
                        {% block portfolio-description %}{% endblock %}
                    </div>

                </div>
            </div>
        </div>

        <!-- Works Filter -->
        <div class="works-filter font-alt align-center">
            {% for filter in work-filters %}
                {{ filter }}
            {% endfor %}
        </div>
        <!-- End Works Filter -->

        <!-- Works Grid -->
        <ul class="works-grid work-grid-3 work-grid-gut clearfix font-alt hover-white hide-titles" id="work-grid">

            {% for work-item in works %}
                {{ work-item }}
            {% endfor %}

        </ul>
        <!-- End Works Grid -->

    </div>
</section>