 <!-- Features Section -->
<section class="page-section">
    <div class="container relative">

        <h2 class="section-title font-alt mb-70 mb-sm-40">
            Our Process
        </h2>

        <!-- Features Grid -->
        <div class="row multi-columns-row alt-features-grid">

            <!-- Features Item -->
            <div class="col-sm-6 col-md-4 col-lg-4">
                <div class="alt-features-item align-center">
                     {% load static %}
                     <img src="{% static 'images/p1H100.jpg' %}"  height="36" alt="ReflectSquare" />
                    <h3 class="alt-features-title font-alt">Quotation</h3>
                    <div class="alt-features-descr align-left">
                        <p> Send documentation such as CAD files or floor plans in PDF. Also send additional information
                        such as materials, colors, furniture style and sketches etc. Having more information will save time as
                        Reflect Square can process quickly and accurately. Reflect Square will send a quotation within hours from
                        receiving documentation.</p>
                    </div>
                </div>
            </div>
            <!-- End Features Item -->

            <!-- Features Item -->
            <div class="col-sm-6 col-md-4 col-lg-4">
                <div class="alt-features-item align-center">
                     {% load static %}
                     <img src="{% static 'images/p2H100.jpg' %}" height="36" alt="ReflectSquare" />
                    <h3 class="alt-features-title font-alt">3D Model</h3>
                    <div class="alt-features-descr align-left">
                        <p> Reflect Square will send white structural 3D model with multiple views of angle.
                        Client requests any changes to the structure and choose preferred views. </p>
                    </div>
                </div>
            </div>
            <!-- End Features Item -->

            <!-- Features Item -->
            <div class="col-sm-6 col-md-4 col-lg-4">
                <div class="alt-features-item align-center">
                    {% load static %}
                     <img src="{% static 'images/p3H100.jpg' %}" height="36" alt="ReflectSquare" />
                    <h3 class="alt-features-title font-alt">Texturing</h3>
                    <div class="alt-features-descr align-left">
                        At this stage, textures, materials, colors and other detailing will be applied to the model.
                        Client can request changes in multiple revisions.
                    </div>
                </div>
            </div>
            <!-- End Features Item -->

            <!-- Features Item -->
            <div class="col-sm-6 col-md-4 col-lg-4">
                <div class="alt-features-item align-center">
                    {% load static %}
                     <img src="{% static 'images/p4H100.jpg' %}" height="36" alt="ReflectSquare" />
                    <h3 class="alt-features-title font-alt">Final Render</h3>
                    <div class="alt-features-descr align-left">
                        Final images will be rendered in HD resolution. Reflect Square will send images without watermark.
                    </div>
                </div>
            </div>
            <!-- End Features Item -->

        </div>
        <!-- End Features Grid -->

    </div>
</section>
<!-- End Features Section -->
