 <li class="active">
    <a href="#service-branding" data-toggle="tab">

        <div class="alt-tabs-icon">
            <span class="icon-strategy"></span>
        </div>

        {% block service-name %}{% endblock %}
    </a>
</li>