<a href="#{% block social-profile-link %}{% endblock %}" target="_blank"><i class="fa {% block social-profile-class %}{% endblock %}"></i><span class="sr-only">{% block social-profile-name %}{% endblock %}</span></a>