<a href="#" title="{% block social-media %}{% endblock %}" target="_blank"><i class="fa {% block social-media-class %}{% endblock %}"></i> <span class="sr-only">{% block social-media-title %}{% endblock %}</span></a>